In [164]:
import pandas as pd

In [165]:
df = pd.read_csv("/content/2019.csv")
df1 = pd.read_csv("/content/2020.csv")
df2 = pd.read_csv("/content/2021.csv")
df3 = pd.read_csv("/content/2022.csv")

In [166]:
df = pd.concat([df,df1,df2,df3])

In [167]:
df.head()

,NO,ARRIVAL DATE,HS CODE,HS CODE DESCRIPTION,IMPORTER NAME,IMPORTER ADDRESS,IMPORTER COUNTRY,CITY STATE,TEL,FAX,...,SHIPPER COUNTRY,US STATE,US PORT2,FINAL US PORT,FINAL FOREIGN PORT,FINAL COUNTRY,CONTAINER COUNT,TOTAL TEUS,Final Qty,PORT OF DEPARTURE.1
0,1,30-01-2019,10063020,Basmati Rice,NATRAJ FOOD STUFF FACTORY,.,United Arab Emirates,United Arab Emirates,.,.,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
1,2,30-01-2019,10063020,Basmati Rice,KV A GENERAL TRADING LLC.,.,United Arab Emirates,United Arab Emirates,.,.,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
2,3,30-01-2019,10063010,"Rice, parboiled",NIRAPARA MIDDLEEAST GENERALTRAD LLC.,.,United Arab Emirates,United Arab Emirates,.,.,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
3,4,30-01-2019,10063010,"Rice, parboiled",MATSYA OVER SEASLTD.,.,United Arab Emirates,United Arab Emirates,.,.,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
4,5,30-01-2019,10063090,Rice Excptg Parboiled (Excl Basmati Rice),SARAVANA FOOD STUFF FACTORY LLC.,.,United Arab Emirates,United Arab Emirates,.,.,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN

In [168]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28293 entries, 0 to 8698
Data columns (total 48 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   NO                     28293 non-null  int64
 1   ARRIVAL DATE           28293 non-null  object
 2   HS CODE                28293 non-null  int64
 3   HS CODE DESCRIPTION    28146 non-null  object
 4   IMPORTER NAME          28162 non-null  object
 5   IMPORTER ADDRESS       28001 non-null  object
 6   IMPORTER COUNTRY       28293 non-null  object
 7   CITY STATE             28287 non-null  object
 8   TEL                    27665 non-null  object
 9   FAX                    27565 non-null  object
 10  E-MAIL                 27768 non-null  object
 11  WEB                    27154 non-null  object
 12  EXPORTER NAME          28148 non-null  object
 13  EXPORTER ADDRESS       27067 non-null  object
 14  COUNTRY OF ORIGIN      28293 non-null  object
 15  IMPORT VALUE FOB       28293 non-null  float64
 16  IMPORT VALUE CIF       28293 non-null  float64
 17  CURRENCY               27868 non-null  object
 18  NET WEIGHT             28293 non-null  float64
 19  NET WEIGHT UNIT        1453 non-null   object
 20  GROSS WEIGHT           28293 non-null  float64
 21  GROSS WEIGHT UNIT      1464 non-null   object
 22  QUANTITY               28293 non-null  float64
 23  QUANTITY UNIT          27759 non-null  object
 24  PRODUCT DETAILS        27916 non-null  object
 25  NUMBER OF PACKAGES     28293 non-null  int64
 26  PACKAGES UNIT          652 non-null    object
 27  INCOTERMS              577 non-null    object
 28  PLACE OF DELIVERY      334 non-null    object
 29  BRAND NAME             368 non-null    object
 30  MANUFACTORING COMPANY  262 non-null    object
 31  PORT OF ARRIVAL        27469 non-null  object
 32  PORT OF DEPARTURE      26930 non-null  object
 33  NOTIFY PARTY           851 non-null    object
 34  NOTIFY ADDRESS         489 non-null    object
 35  VOLUME                 28293 non-null  int64
 36  VOLUME UNIT            0 non-null      float64
 37  PREPORT                0 non-null      float64
 38  SHIPPER COUNTRY        685 non-null    object
 39  US STATE               0 non-null      float64
 40  US PORT2               0 non-null      float64
 41  FINAL US PORT          0 non-null      float64
 42  FINAL FOREIGN PORT     0 non-null      float64
 43  FINAL COUNTRY          0 non-null      float64
 44  CONTAINER COUNT        28293 non-null  int64
 45  TOTAL TEUS             28293 non-null  int64
 46  Final Qty              7387 non-null   float64
 47  PORT OF DEPARTURE.1    6728 non-null   object
dtypes: float64(13), int64(6), object(29)
memory usage: 10.6+ MB

In [169]:
df.duplicated().sum()

0

In [170]:
df.drop(['VOLUME UNIT','PREPORT','US STATE','US PORT2','FINAL US PORT','FINAL FOREIGN PORT', 'FINAL COUNTRY'],axis = 1,inplace = True)

In [171]:
df.columns

Index(['NO', 'ARRIVAL DATE', 'HS CODE', 'HS CODE DESCRIPTION', 'IMPORTER NAME',
       'IMPORTER ADDRESS', 'IMPORTER COUNTRY', 'CITY STATE', 'TEL', 'FAX',
       'E-MAIL', 'WEB', 'EXPORTER NAME', 'EXPORTER ADDRESS',
       'COUNTRY OF ORIGIN', 'IMPORT VALUE FOB', 'IMPORT VALUE CIF', 'CURRENCY',
       'NET WEIGHT', 'NET WEIGHT UNIT', 'GROSS WEIGHT', 'GROSS WEIGHT UNIT',
       'QUANTITY', 'QUANTITY UNIT', 'PRODUCT DETAILS', 'NUMBER OF PACKAGES',
       'PACKAGES UNIT', 'INCOTERMS', 'PLACE OF DELIVERY', 'BRAND NAME',
       'MANUFACTORING COMPANY', 'PORT OF ARRIVAL', 'PORT OF DEPARTURE',
       'NOTIFY PARTY', 'NOTIFY ADDRESS', 'VOLUME', 'SHIPPER COUNTRY',
       'CONTAINER COUNT', 'TOTAL TEUS', 'Final Qty', 'PORT OF DEPARTURE.1'],
      dtype='object')

In [172]:
df.describe()

,NO,HS CODE,IMPORT VALUE FOB,IMPORT VALUE CIF,NET WEIGHT,GROSS WEIGHT,QUANTITY,NUMBER OF PACKAGES,VOLUME,CONTAINER COUNT,TOTAL TEUS,Final Qty
count,28293.000000,2.829300e+04,2.829300e+04,2.829300e+04,2.829300e+04,2.829300e+04,2.829300e+04,28293.000000,28293.0,28293.000000,28293.000000,7.387000e+03
mean,3625.921465,8.487098e+07,1.887279e+06,1.637299e+06,3.313317e+04,4.192328e+04,3.039297e+04,179.509172,0.0,0.042060,0.025236,4.200678e+04
std,2192.102644,7.384568e+08,3.961334e+07,4.307003e+07,2.085436e+06,2.532250e+06,2.075450e+06,8401.658616,0.0,0.563008,0.487218,6.001953e+05
min,1.000000,1.006300e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000e+00
25%,1769.000000,1.006301e+07,3.410000e+03,0.000000e+00,0.000000e+00,0.000000e+00,2.100000e+01,0.000000,0.0,0.000000,0.000000,2.660000e+01
50%,3537.000000,1.006302e+07,1.793880e+04,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+02,0.000000,0.0,0.000000,0.000000,2.100000e+02
75%,5305.000000,1.006309e+07,6.600000e+04,0.000000e+00,0.000000e+00,0.000000e+00,7.000000e+02,0.000000,0.0,0.000000,0.000000,6.000000e+03
max,8699.000000,1.006310e+10,4.781290e+09,5.399120e+09,2.600000e+08,2.600000e+08,2.600000e+08,788000.000000,0.0,20.000000,35.000000,4.264150e+07

In [173]:
df["ARRIVAL DATE"] = pd.to_datetime(df["ARRIVAL DATE"])
df["Year"] = df["ARRIVAL DATE"].dt.year
df["Month"] = df["ARRIVAL DATE"].dt.month
df["Day"] = pd.to_datetime(df["ARRIVAL DATE"]).dt.day

<ipython-input-173-a607eaeac775>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df["ARRIVAL DATE"] = pd.to_datetime(df["ARRIVAL DATE"])

In [174]:
df["HS CODE"].value_counts(),df["HS CODE"].isna().sum()

(10063090       9690
 10063020       9339
 10063010       7629
 100630          347
 10063000        322
 1006301000      203
 1006306709      175
 10063099        134
 10063000000     119
 1006306700       66
 1006309809       64
 1006309000       48
 1006309800       27
 10063040         20
 10063090900      17
 1006306500       15
 10063021         12
 1006300000        8
 10063030          8
 1006309600        7
 1006301020        6
 10063090000       5
 1006309400        5
 1006306300        2
 10063011          2
 10063001          2
 100630250         2
 100630980         2
 10063010200       2
 1006302700        1
 10063030200       1
 1006301090        1
 10063099200       1
 1006301040        1
 1006301920        1
 1006304400        1
 1006300090        1
 1006309020        1
 10063090100       1
 10063010000       1
 1006302300        1
 100630960         1
 10063021220       1
 100630670         1
 Name: HS CODE, dtype: int64,
 0)

In [175]:
df["HS CODE DESCRIPTION"].value_counts()
df["HS CODE DESCRIPTION"].isna().sum()

147

In [176]:
df.dropna(subset=["HS CODE DESCRIPTION"],inplace = True)

In [177]:
df["HS CODE DESCRIPTION"].isna().sum()

0

In [178]:
df["IMPORTER NAME"].value_counts()
df["IMPORTER NAME"].isna().sum()

129

In [179]:
df.dropna(subset=["IMPORTER NAME"],inplace = True)

In [180]:
df["IMPORTER NAME"].isna().sum()

0

In [181]:
df["IMPORTER ADDRESS"].value_counts()

.                                                                                                                22170
2401 DELTA LANE, ELK GROVE VILLAGE,IL 60007 CHICAGO USA                                                            125
PO BOX 2251,MUSCAT                                                                                                 116
INC 127-40 WILLETS POINT BLVD FLUSH NEWYORK-113681506 (USA) PH:-0017158074900 1-7185074600 TELEX 1-7185074798      115
39743 LEMBKE DRIVE, STERLING HEIGHTS MI 48313 USA                                                                   84
                                                                                                                 ...
AV CARDENAL SANTIAGO LUIZ COPELLO. 81-05.308.000                                                                     1
RUA N´GOLA KILUANJE NO 42/44 Luanda                                                                                  1
doulatgonj, Jibannagar, Chuadanga,7230, Bangladesh                                                                   1
Baneswar Bazar, Puthia, Puthia PS,Rajshahi- 6260, Bangladesh                                                         1
118/36 ST.ANTHONYS MW. OLD NEGOMBO ROAD WATTALA                                                                      1
Name: IMPORTER ADDRESS, Length: 906, dtype: int64

In [182]:
df.drop(["IMPORTER ADDRESS"],axis = 1,inplace = True)

In [183]:
df["IMPORTER COUNTRY"].value_counts(),df["IMPORTER COUNTRY"].isnull().sum()

(Nepal                   3559
 United Arab Emirates    2632
 United States           1940
 Bhutan                  1584
 Saudi Arabia            1471
                         ...
 Estonia                    1
 Cook Islands               1
 Uruguay                    1
 Tajikistan                 1
 Colombia                   1
 Name: IMPORTER COUNTRY, Length: 149, dtype: int64,
 0)

In [184]:
df["IMPORTER COUNTRY"].unique()

array(['United Arab Emirates', 'Australia', 'Switzerland', 'Egypt',
       'France', 'Ghana', 'Hong Kong', 'Iran', 'Kenya', 'Malaysia',
       'Nigeria', 'New Zealand', 'Saudi Arabia', 'Ukraine',
       'United Kingdom', 'United States', 'South African Republic',
       'Canada', 'Kuwait', 'Sri Lanka', 'Singapore', 'Philippines',
       'Netherlands', 'India', 'Russian Federation', 'Bahrain', 'Benin',
       'Algeria', 'Guinea', 'Israel', 'Iraq', 'Lebanon', 'Nepal', 'Oman',
       'Seychelles', 'Suriname', 'Yemen', 'Brunei Darussalam', 'Djibouti',
       'Qatar', 'Azerbaijan', 'South Sudan', 'Senegal', 'Bangladesh',
       'Angola', 'Argentina', 'Morocco', 'Tanzania', 'Uganda', 'Italy',
       'Moldova', 'Somalia', 'Gambia', 'Haiti', 'Jordan', 'Niger',
       'Burkina Faso', 'Norway', 'Liberia', 'Togo', 'Côte D Ivoire',
       'Madagascar', 'Mali', 'Congo, The Democratic Republic Of The',
       'Syrian Arab Republic', 'Sudan', 'Sierra Leone', 'Mauritius',
       'Mozambique', 'Zambia', 'Germany', 'Georgia', 'Sweden', 'Maldives',
       'Réunion', 'Libya', 'Poland', 'Bulgaria', 'Cambodia',
       'Central African Republic', 'Kazakhstan', 'Thailand', 'Congo',
       'Mauritania', 'Belgium', 'Ecuador', 'South Korea', 'Botswana',
       'Japan', 'Spain', 'Curaçao', 'Armenia', 'Turkmenistan', 'Comoros',
       'Gabon', 'Guadeloupe', 'Czech Republic', 'Chile', 'China', 'Fiji',
       'Bhutan', 'Mexico', 'Namibia', 'Cameroon', 'Jamaica', 'Finland',
       'Portugal', 'Venezuela', 'Ireland', 'Zimbabwe', 'Nicaragua',
       'Denmark', 'Tajikistan', 'Belize', 'Puerto Rico', 'Malawi',
       'Kyrgyzstan', 'Greece', 'Slovenia', 'Equatorial Guinea', 'Rwanda',
       'Brazil', 'Uruguay', 'Viet Nam', 'Papua New Guinea', 'Ethiopia',
       'Cook Islands', 'Afghanistan', 'Colombia', 'Sao Tome And Principe',
       'Estonia', 'Timor-Leste', 'Indonesia', 'Croatia', 'Cyprus',
       'Bosnia And Herzegovina', 'Belarus', 'Tonga', 'Uzbekistan',
       'Pakistan', 'Trinidad And Tobago', 'Vanuatu', 'Nauru', 'Serbia',
       'Myanmar', 'Lithuania', 'Guatemala', 'Saint Lucia', 'Taiwan'],
      dtype=object)

In [185]:
df["CITY STATE"].value_counts(),df["CITY STATE"].isnull().sum()

(United Arab Emirates        2422
 Nepal                       2405
 United States               1463
 NP - Nepal                  1154
 Saudi Arabia                1129
                             ...
 UNITED KINGDOM                 1
 Central African Republic       1
 Abu Dhabi                      1
 Uruguay                        1
 Ecuador                        1
 Name: CITY STATE, Length: 348, dtype: int64,
 6)

In [186]:
df["IMPORTER COUNTRY"].unique()

array(['United Arab Emirates', 'Australia', 'Switzerland', 'Egypt',
       'France', 'Ghana', 'Hong Kong', 'Iran', 'Kenya', 'Malaysia',
       'Nigeria', 'New Zealand', 'Saudi Arabia', 'Ukraine',
       'United Kingdom', 'United States', 'South African Republic',
       'Canada', 'Kuwait', 'Sri Lanka', 'Singapore', 'Philippines',
       'Netherlands', 'India', 'Russian Federation', 'Bahrain', 'Benin',
       'Algeria', 'Guinea', 'Israel', 'Iraq', 'Lebanon', 'Nepal', 'Oman',
       'Seychelles', 'Suriname', 'Yemen', 'Brunei Darussalam', 'Djibouti',
       'Qatar', 'Azerbaijan', 'South Sudan', 'Senegal', 'Bangladesh',
       'Angola', 'Argentina', 'Morocco', 'Tanzania', 'Uganda', 'Italy',
       'Moldova', 'Somalia', 'Gambia', 'Haiti', 'Jordan', 'Niger',
       'Burkina Faso', 'Norway', 'Liberia', 'Togo', 'Côte D Ivoire',
       'Madagascar', 'Mali', 'Congo, The Democratic Republic Of The',
       'Syrian Arab Republic', 'Sudan', 'Sierra Leone', 'Mauritius',
       'Mozambique', 'Zambia', 'Germany', 'Georgia', 'Sweden', 'Maldives',
       'Réunion', 'Libya', 'Poland', 'Bulgaria', 'Cambodia',
       'Central African Republic', 'Kazakhstan', 'Thailand', 'Congo',
       'Mauritania', 'Belgium', 'Ecuador', 'South Korea', 'Botswana',
       'Japan', 'Spain', 'Curaçao', 'Armenia', 'Turkmenistan', 'Comoros',
       'Gabon', 'Guadeloupe', 'Czech Republic', 'Chile', 'China', 'Fiji',
       'Bhutan', 'Mexico', 'Namibia', 'Cameroon', 'Jamaica', 'Finland',
       'Portugal', 'Venezuela', 'Ireland', 'Zimbabwe', 'Nicaragua',
       'Denmark', 'Tajikistan', 'Belize', 'Puerto Rico', 'Malawi',
       'Kyrgyzstan', 'Greece', 'Slovenia', 'Equatorial Guinea', 'Rwanda',
       'Brazil', 'Uruguay', 'Viet Nam', 'Papua New Guinea', 'Ethiopia',
       'Cook Islands', 'Afghanistan', 'Colombia', 'Sao Tome And Principe',
       'Estonia', 'Timor-Leste', 'Indonesia', 'Croatia', 'Cyprus',
       'Bosnia And Herzegovina', 'Belarus', 'Tonga', 'Uzbekistan',
       'Pakistan', 'Trinidad And Tobago', 'Vanuatu', 'Nauru', 'Serbia',
       'Myanmar', 'Lithuania', 'Guatemala', 'Saint Lucia', 'Taiwan'],
      dtype=object)

In [187]:
df[df["CITY STATE"] == df["IMPORTER COUNTRY"]]

,NO,ARRIVAL DATE,HS CODE,HS CODE DESCRIPTION,IMPORTER NAME,IMPORTER COUNTRY,CITY STATE,TEL,FAX,E-MAIL,...,NOTIFY ADDRESS,VOLUME,SHIPPER COUNTRY,CONTAINER COUNT,TOTAL TEUS,Final Qty,PORT OF DEPARTURE.1,Year,Month,Day
0,1,2019-01-30,10063020,Basmati Rice,NATRAJ FOOD STUFF FACTORY,United Arab Emirates,United Arab Emirates,.,.,.,...,NaN,0,NaN,0,0,NaN,NaN,2019,1,30
1,2,2019-01-30,10063020,Basmati Rice,KV A GENERAL TRADING LLC.,United Arab Emirates,United Arab Emirates,.,.,.,...,NaN,0,NaN,0,0,NaN,NaN,2019,1,30
2,3,2019-01-30,10063010,"Rice, parboiled",NIRAPARA MIDDLEEAST GENERALTRAD LLC.,United Arab Emirates,United Arab Emirates,.,.,.,...,NaN,0,NaN,0,0,NaN,NaN,2019,1,30
3,4,2019-01-30,10063010,"Rice, parboiled",MATSYA OVER SEASLTD.,United Arab Emirates,United Arab Emirates,.,.,.,...,NaN,0,NaN,0,0,NaN,NaN,2019,1,30
4,5,2019-01-30,10063090,Rice Excptg Parboiled (Excl Basmati Rice),SARAVANA FOOD STUFF FACTORY LLC.,United Arab Emirates,United Arab Emirates,.,.,.,...,NaN,0,NaN,0,0,NaN,NaN,2019,1,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8690,8691,2022-01-01,10063090,Rice Excptg Parboiled (Excl Basmati Rice),SREERAMA IMPEXLTD.,New Zealand,New Zealand,.,.,.,...,NaN,0,NaN,0,0,NaN,NaN,2022,1,1
8691,8692,2022-01-01,10063090,Rice Excptg Parboiled (Excl Basmati Rice),SREERAMA IMPEXLTD.,New Zealand,New Zealand,.,.,.,...,NaN,0,NaN,0,0,NaN,NaN,2022,1,1
8692,8693,2022-01-01,10063090,Rice Excptg Parboiled (Excl Basmati Rice),SREERAMA IMPEXLTD.,New Zealand,New Zealand,.,.,.,...,NaN,0,NaN,0,0,NaN,NaN,2022,1,1
8693,8694,2022-01-01,10063010,"Rice, parboiled",HASSON FOOD COMPANY PTE.LTD.,Singapore,Singapore,.,.,.,...,NaN,0,NaN,0,0,NaN,NaN,2022,1,1
8694,8695,2022-01-01,10063010,"Rice, parboiled",SRI AMBIKAS PTE.LTD.,Singapore,Singapore,.,.,.,...,NaN,0,NaN,0,0,NaN,NaN,2022,1,1

In [188]:
df[df["CITY STATE"] != df["IMPORTER COUNTRY"]]

,NO,ARRIVAL DATE,HS CODE,HS CODE DESCRIPTION,IMPORTER NAME,IMPORTER COUNTRY,CITY STATE,TEL,FAX,E-MAIL,...,NOTIFY ADDRESS,VOLUME,SHIPPER COUNTRY,CONTAINER COUNT,TOTAL TEUS,Final Qty,PORT OF DEPARTURE.1,Year,Month,Day
14,15,2019-01-30,1006301000,"Rice, semi-milled or wholly milled rice, pck >...",OLAM GHANA LTD.,Ghana,Accra,+233 302222200,+233 302227089,ghana@olamnet.com,...,NaN,0,NaN,0,0,NaN,NaN,2019,1,30
15,16,2019-01-30,1006301000,"Rice, semi-milled or wholly milled rice, pck >...",OLAM GHANA LTD.,Ghana,Accra,+233 302222200,+233 302227089,ghana@olamnet.com,...,NaN,0,NaN,0,0,NaN,NaN,2019,1,30
30,31,2019-01-30,10063020,Basmati Rice,TILDALTD.,United Kingdom,Essex,.,.,.,...,NaN,0,NaN,0,0,NaN,NaN,2019,1,30
31,32,2019-01-30,10063020,Basmati Rice,TILDALTD.,United Kingdom,Essex,.,.,.,...,NaN,0,NaN,0,0,NaN,NaN,2019,1,30
33,34,2019-01-30,10063010,"Rice, parboiled",R R CP L,South African Republic,South Africa,.,.,.,...,NaN,0,NaN,0,0,NaN,NaN,2019,1,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8679,8680,2022-01-01,10063010,"Rice, parboiled",ФОП АНАНКО ЛЮДМИЛА ДМИТРІВНА,Ukraine,UA - Ukraine,.,.,.,...,NaN,0,NaN,0,0,NaN,NaN,2022,1,1
8695,8696,2022-01-01,1006309809,"Rice, Semi-Milled Or Wholly Milled, Whether Or...","ООО """"АГРО-АЛЬЯНС""""",Russian Federation,Russia,.,.,.,...,"197373, ГОРОД, САНКТ-ПЕТЕРБУРГ, ШУВАЛОВСКИЙ ПР...",0,India,0,0,NaN,NaN,2022,1,1
8696,8697,2022-01-01,10063090,Rice Excptg Parboiled (Excl Basmati Rice),TO,United States,Rhode Island,.,.,.,...,NaN,0,NaN,0,0,NaN,NaN,2022,1,1
8697,8698,2022-01-01,10063090,Rice Excptg Parboiled (Excl Basmati Rice),TO,United States,Rhode Island,.,.,.,...,NaN,0,NaN,0,0,NaN,NaN,2022,1,1
8698,8699,2022-01-01,10063090,Rice Excptg Parboiled (Excl Basmati Rice),PIONEER CASH CARRY,United States,.,NaN,NaN,.,...,NaN,0,NaN,0,0,NaN,NaN,2022,1,1

In [189]:
df.drop(['TEL', 'FAX','E-MAIL', 'WEB'], axis = 1 , inplace = True)

In [190]:
df["EXPORTER NAME"].value_counts(),df["EXPORTER NAME"].isnull().sum()

(SUPPLE TEK INDUSTRIES PRIVATE LIMITED    940
 MANJILAS FOOD TECH PRIVATE LIMITED       514
 KOTTACKAL AGRO FOODS                     294
 K K R AGRO MILLS PRIVATE LIMITED         291
 AMAR SINGH CHAWALWALA                    267
                                         ...
 EXIMCAM CANADA                             1
 SAT SWISS  AGRI TRADING SA                 1
 SDVOHMALL COM LL                           1
 SWANI SPICE MILLS PVT LTD                  1
 SRI VARA SIDDI AGRO FOODS                  1
 Name: EXPORTER NAME, Length: 2543, dtype: int64,
 145)

In [191]:
df.dropna(subset = "EXPORTER NAME",inplace = True)

In [192]:
df["EXPORTER NAME"].isnull().sum()

0

In [193]:
df["EXPORTER ADDRESS"].value_counts(),df["EXPORTER ADDRESS"].isnull().sum()

(, , , ,                                                                                                                           5319
 VILLAGE CHABBA,TARN TARAN ROAD,   ,AMRITSAR PUNJAB ,0 ,2100030,9501051191 ,suppletekindustries@gmail.com                           940
  , , , ,                                                                                                                           570
 TC-16/1382,  SASTHRI ROAD, NELLIKUNNU, ,THRISSUR,KERALA ,PIN-680005 ,0487 2420895 2440113 ,info@manjilas.com                       514
 40/2, MANNARPALAYAM ROAD,ALLIKUTTAI POST,   ,SALEM/TAMILNADU. ,636003 ,240703/241040/FAX NO.268327 ,kadhir_rice@rediffmail.com     304
                                                                                                                                   ...
 KOMARIPALEMBIKKAVOLU MANDALAM   ,E.G.DIST.  A.P. ,533346 , ,                                                                         1
 VILL. BEDLA, TEH. GIRWA,   ,UDAIPUR.  ,RAJASTHAN ,PIN-313001 ,440386 ,mukeshh@hotmail.com                                            1
 15A,SHOP NO.8,GEETA BHAWAN,BASEMENT NWA,WEST PUNJABI BAGH                                                                            1
 154 SINDHI COLONY BHASKAR MARG BANI PARK JAIPUR 302016 RAJASTHAN INDE                                                                1
 75C, PARK STREET ROOM NO. 2/2,  2ND FLOOR, ,KOLKATA,W.B. ,PIN-700016 ,033-22494313,0341-2441222 ,babylon2013@rediffmail.com          1
 Name: EXPORTER ADDRESS, Length: 1537, dtype: int64,
 943)

In [194]:
df.drop(['EXPORTER ADDRESS'], axis = 1, inplace = True)

In [195]:
df["COUNTRY OF ORIGIN"].value_counts(),df["COUNTRY OF ORIGIN"].isnull().sum()

(India    27872
 Name: COUNTRY OF ORIGIN, dtype: int64,
 0)

In [196]:
df["IMPORT VALUE FOB"].value_counts(),df["IMPORT VALUE FOB"].isnull().sum()

(0.00          868
 1020000.00     63
 13230.00       35
 13773.40       32
 1028500.00     32
              ...
 77377.47        1
 86470.50        1
 197626.28       1
 15798.00        1
 5346.00         1
 Name: IMPORT VALUE FOB, Length: 17004, dtype: int64,
 0)

In [197]:
df["IMPORT VALUE CIF"].value_counts(),df["IMPORT VALUE CIF"].isnull().sum()

(0.000000e+00    27294
 7.357558e+07        4
 8.007160e+03        4
 9.409800e+03        4
 4.387804e+07        3
                 ...
 2.156780e+04        1
 8.041622e+06        1
 6.359175e+07        1
 2.088023e+08        1
 9.452743e+07        1
 Name: IMPORT VALUE CIF, Length: 492, dtype: int64,
 0)

In [198]:
df['TOTAL IMPORT'] = sum(df["IMPORT VALUE CIF"],df["IMPORT VALUE FOB"])

In [199]:
df["CURRENCY"].value_counts(),df["CURRENCY"].isnull().sum()

(USD    22863
 INR     3146
 EUR      402
 CAD      170
 GBP      140
 SGD      133
 XOF      132
 AUD      129
 UGX      112
 MZN       98
 KES       92
 AED       79
 GHS       52
 CHF       13
 GHC        8
 KZT        7
 QAR        6
 FJD        5
 ZAR        3
 JPY        2
 UAH        2
 NGN        1
 RUB        1
 Name: CURRENCY, dtype: int64,
 276)

In [200]:
df.dropna(subset =["CURRENCY"],inplace = True)

In [201]:
df["NET WEIGHT"].value_counts(),df["NET WEIGHT"].isnull().sum()

(0.0          26350
 260000.0        85
 100000.0        64
 250000.0        50
 130000.0        29
              ...
 99000.0          1
 170000.0         1
 89000.0          1
 311990.0         1
 3009600.0        1
 Name: NET WEIGHT, Length: 515, dtype: int64,
 0)

In [202]:
df["NET WEIGHT UNIT"].value_counts(),df["NET WEIGHT UNIT"].isnull().sum()

(Kg.          1126
 KG             98
 KGM            20
 Kilograms       2
 Name: NET WEIGHT UNIT, dtype: int64,
 26350)

In [203]:
df['NET WEIGHT UNIT'].replace(['Kg.','KGM', 'KG','Kilograms'],"KG",inplace=True)

In [204]:
df["NET WEIGHT UNIT"].value_counts(),df["NET WEIGHT UNIT"].isnull().sum()

(KG    1246
 Name: NET WEIGHT UNIT, dtype: int64,
 26350)

In [205]:
df["NET WEIGHT UNIT"].fillna("KG",inplace = True)

In [206]:
df["GROSS WEIGHT"].value_counts(),df["GROSS WEIGHT"].isnull().sum()

(0.0          26352
 250740.0        26
 100400.0        20
 260728.0        19
 260624.0        16
              ...
 274176.0         1
 151302.0         1
 23119.0          1
 7800000.0        1
 200595.0         1
 Name: GROSS WEIGHT, Length: 756, dtype: int64,
 0)

In [207]:
df["GROSS WEIGHT UNIT"].value_counts()

Kg.    924
KGM    121
KG      98
TNE      3
Name: GROSS WEIGHT UNIT, dtype: int64

In [208]:
df['GROSS WEIGHT UNIT'].replace(['Kg.','KGM', 'KG'],"KG",inplace=True)

In [209]:
df = df[df["GROSS WEIGHT UNIT"]!= 'TNE']

In [210]:
df["GROSS WEIGHT UNIT"].fillna("KG",inplace = True)

In [211]:
df["QUANTITY"].value_counts(),df["QUANTITY"].isnull().sum()

(0.00         944
 50.00        618
 25.00        542
 100.00       491
 340.00       471
             ...
 30050.00       1
 675.99         1
 24.53          1
 259125.00      1
 1540.00        1
 Name: QUANTITY, Length: 3603, dtype: int64,
 0)

In [212]:
df["QUANTITY UNIT"].value_counts(),df["QUANTITY UNIT"].isnull().sum()

(MTS         14007
 KGS          7601
 NOS          1841
 QTL          1245
 BAG           682
 CTN           494
 PCS           491
 PAC           130
 KGM           118
 Kilogram      113
 KG            100
 кг             97
 kg             92
 TNE            83
 BOX            32
 UNK            15
 TON            13
 КГ              8
 PIECE           7
 KILOGRAM        5
 LOT             4
 Kgm             2
 ШТ              2
 LBS             1
 TONS            1
 TONELADA        1
 KGA             1
 Name: QUANTITY UNIT, dtype: int64,
 407)

In [213]:
df.dropna(subset =["QUANTITY UNIT"],inplace = True)

In [214]:
df['QUANTITY UNIT'].replace(['кг','КГ','KG','KGM','Kilogram','KILOGRAMOS NETOS','KILOS','kg','KILOGRAM','ШТ','Kgm', 'Kg'],'KGS', inplace=True)
df['QUANTITY UNIT'].replace(['BG','BAG'],'BAGS', inplace=True)
df['QUANTITY UNIT'].replace(['MTS','TNE','TONELADA','TON','Tonelada'],'TONS', inplace=True)
df['QUANTITY UNIT'].replace([ 'PKG','PAC','PK','PIECE','PCS',],'PACKAGES', inplace=True)

In [215]:
df.columns

Index(['NO', 'ARRIVAL DATE', 'HS CODE', 'HS CODE DESCRIPTION', 'IMPORTER NAME',
       'IMPORTER COUNTRY', 'CITY STATE', 'EXPORTER NAME', 'COUNTRY OF ORIGIN',
       'IMPORT VALUE FOB', 'IMPORT VALUE CIF', 'CURRENCY', 'NET WEIGHT',
       'NET WEIGHT UNIT', 'GROSS WEIGHT', 'GROSS WEIGHT UNIT', 'QUANTITY',
       'QUANTITY UNIT', 'PRODUCT DETAILS', 'NUMBER OF PACKAGES',
       'PACKAGES UNIT', 'INCOTERMS', 'PLACE OF DELIVERY', 'BRAND NAME',
       'MANUFACTORING COMPANY', 'PORT OF ARRIVAL', 'PORT OF DEPARTURE',
       'NOTIFY PARTY', 'NOTIFY ADDRESS', 'VOLUME', 'SHIPPER COUNTRY',
       'CONTAINER COUNT', 'TOTAL TEUS', 'Final Qty', 'PORT OF DEPARTURE.1',
       'Year', 'Month', 'Day', 'TOTAL IMPORT'],
      dtype='object')

In [216]:
df["PRODUCT DETAILS"].value_counts(),df["PRODUCT DETAILS"].isnull().sum()

(NON BASMATI RICE                                                                                        1551
 RICE                                                                                                     161
 N.B PADDY                                                                                                157
 BASMATI RICE                                                                                             130
 NON BASMOTI BOILED RICE                                                                                   93
                                                                                                         ...
 INDIAN ORIGIN LONG GRAIN 1121 GOLDEN SEL LA BASAMTI RICE PACKING : 4X10 KGS NON W OVEN BAGS (O/D AS        1
 INDIAN ORIGIN LONG GRAIN 1121 GOLDEN SEL LA BASAMTI RICE PACKING : 8X5 KGS NON WO VEN BAGS (O/D AS P       1
 SUPPLIERS:M S CORPORATION GST.NO.24ABRPA 5884C1ZO INV.NO.MSC/GST/1787 DT.19.11.20 19 SR.NO.1               1
 Pusa Raw Milled Lot No M125 Best Before                                                                    1
 VATAN IDLI RICE                                                                                            1
 Name: PRODUCT DETAILS, Length: 15355, dtype: int64,
 187)

In [217]:
df.dropna(subset =["PRODUCT DETAILS"],inplace = True)

In [218]:
df["NUMBER OF PACKAGES"].value_counts(),df["NUMBER OF PACKAGES"].isnull().sum()

(0         26839
 5200         30
 5400         16
 2600         12
 881          12
 3240          7
 5300          5
 5390          5
 564           5
 10400         5
 4240          4
 5380          4
 180           4
 2650          3
 3180          3
 1040          2
 3710          2
 5370          2
 5000          2
 1             2
 2080          2
 2680          1
 3640          1
 520           1
 5379          1
 4680          1
 5376          1
 4160          1
 8670          1
 3234          1
 6             1
 975           1
 530           1
 630           1
 312000        1
 788000        1
 120           1
 6933          1
 4200          1
 6240          1
 575           1
 1000          1
 140000        1
 640000        1
 125           1
 300           1
 50            1
 150           1
 332           1
 325           1
 620           1
 814           1
 160000        1
 42            1
 Name: NUMBER OF PACKAGES, dtype: int64,
 0)

In [219]:
df["PACKAGES UNIT"].value_counts(),df["PACKAGES UNIT"].isnull().sum()

(BG         366
 PK          24
 BAG          8
 PACKAGE      6
 Colis        2
 CT           2
 Sac          2
 LT           1
 Carton       1
 Name: PACKAGES UNIT, dtype: int64,
 26587)

In [220]:
df['PACKAGES UNIT'].fillna("Undefined",inplace=True)

In [221]:
df["PACKAGES UNIT"].value_counts(),df["PACKAGES UNIT"].isnull().sum()

(Undefined    26587
 BG             366
 PK              24
 BAG              8
 PACKAGE          6
 Colis            2
 CT               2
 Sac              2
 LT               1
 Carton           1
 Name: PACKAGES UNIT, dtype: int64,
 0)

In [222]:
df['PACKAGES UNIT'].replace(['BG','BAG','SAC'],'BAGS', inplace=True)
df['PACKAGES UNIT'].replace(['PK','PACKAGE'],'PACKAGES', inplace=True)
df['PACKAGES UNIT'].replace(['Colis','Carton' ,'CT'],'CARTONS', inplace=True)

In [223]:
df = df[df['PACKAGES UNIT'] !='LT']

In [224]:
df["INCOTERMS"].value_counts(),df["INCOTERMS"].isnull().sum()

(CIF             176
 FOB              41
 CFR              31
 C&F              19
 CPT               4
 CIP               4
 GIRO DIRECTO      1
 Name: INCOTERMS, dtype: int64,
 26722)

In [225]:
df.drop(["INCOTERMS"],axis = 1,inplace = True)

In [226]:
df["PLACE OF DELIVERY"].value_counts(),df["PLACE OF DELIVERY"].isnull().sum()

(САНКТ-ПЕТЕРБУРГ     17
 НОВОРОССИЙСК        14
 MUNDRA              12
 NHAVA SHEVA          9
 SAINT-PETERSBURG     5
 КАЛИНИНГРАД          3
 МУНДРА               3
 КОТКА                3
 MUNDRA, INDIA        2
 ВЛАДИВОСТОК          2
 ВОСТОЧНЫЙ            2
 NHABA SHEVA          1
 NOVOROSSIYSK         1
 Name: PLACE OF DELIVERY, dtype: int64,
 26924)

In [227]:
df["BRAND NAME"].value_counts(),df["BRAND NAME"].isnull().sum()

(ОТСУТСТВУЕТ                            41
 нема даних                             21
 БЕЗ ТОВАРНОГО ЗНАКА                    12
 НЕМА ДАНИХ                             10
 ROZAN                                   7
 відсутня                                7
 SAFE AGRITRADE PRIVATE LIMITED          6
 КРУП'ЯНИЙ ДВІР                          6
 АСАН                                    6
 ВІДСУТНЯ                                5
 НЕ ОБОЗНАЧЕН                            5
 інша                                    4
 немає данних                            4
 Nanji's                                 3
 AL-GYAS EXPORTS                         2
 ARIHANT AGRI FOODS PVT. LTD.            2
 NANO SRI                                2
 НЕ ОБОЗНАЧЕНО                           2
 JUPITER EXPORTS                         2
 ТМ Daawat                               2
 BANNO                                   2
 НЕМАЄ ДАНИХ                             2
 MAHARANI"" та ""RAYDUGA                 2
 DUNAR                                   2
 Немає даних                             1
 TAJ MAHAL                               1
 FANAA, SHAHI NAZRANA                    1
 DILNAAZ, нема даних                     1
 SANGAM HERBALS                          1
 ALIASAM                                 1
 ""LAL QILLA"", ""SHAHJAHAN"", ""QIL     1
 PRATEEK                                 1
 ОТСУТ.                                  1
 KAINAAT                                 1
 SHAH NANJI NAGSI OVERSEAS PVT.LTD.      1
 INDIA SALAAM                            1
 КРУП ЯНИЙ ДВІР                          1
 LAL QILLA                               1
 OASIS                                   1
 MAHARANI                                1
 SM                                      1
 SUPER                                   1
 RAYDUGA                                 1
 Name: BRAND NAME, dtype: int64,
 26822)

In [228]:
df["PORT OF DEPARTURE"].value_counts(),df["PORT OF DEPARTURE"].isnull().sum()

(MUNDRA SEA (INMUN1)                    6044
 COCHIN SEA (INCOK1)                    2772
 NHAVA SHEVA SEA (INNSA1)               1530
 TUTICORIN SEA (INTUT1)                 1204
 SONEPAT ICD (INBDM6)                   1163
                                        ...
 MEPZ Special Economic Zone (INMAA6)       1
 CFS NASIK ICD (INNSK6)                    1
 KOTTAYAM ICD (INKYM6)                     1
 KATTUPALLI, INDIA                         1
 KRISHNAPATNAM                             1
 Name: PORT OF DEPARTURE, Length: 110, dtype: int64,
 794)

In [229]:
df["PORT OF ARRIVAL"].value_counts(),df["PORT OF ARRIVAL"].isnull().sum()

(Jebel Ali             2388
 Phuntsholing          1103
 Bandar Abbas          1070
 Colombo                969
 .NEPAL                 968
                       ...
 FOC                      1
 Le Port                  1
 Copenhagon Denmark       1
 Ploce                    1
 St-Laurent               1
 Name: PORT OF ARRIVAL, Length: 447, dtype: int64,
 373)

In [230]:
df.dropna(subset =["PORT OF DEPARTURE"],inplace = True)
df.dropna(subset =["PORT OF ARRIVAL"],inplace = True)

In [231]:
df.drop(["PORT OF DEPARTURE.1","TOTAL TEUS","VOLUME",'NOTIFY PARTY','NOTIFY PARTY','CONTAINER COUNT','Final Qty','SHIPPER COUNTRY'],axis = 1 , inplace = True)

In [232]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26197 entries, 0 to 8698
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   NO                     26197 non-null  int64
 1   ARRIVAL DATE           26197 non-null  datetime64[ns]
 2   HS CODE                26197 non-null  int64
 3   HS CODE DESCRIPTION    26197 non-null  object
 4   IMPORTER NAME          26197 non-null  object
 5   IMPORTER COUNTRY       26197 non-null  object
 6   CITY STATE             26197 non-null  object
 7   EXPORTER NAME          26197 non-null  object
 8   COUNTRY OF ORIGIN      26197 non-null  object
 9   IMPORT VALUE FOB       26197 non-null  float64
 10  IMPORT VALUE CIF       26197 non-null  float64
 11  CURRENCY               26197 non-null  object
 12  NET WEIGHT             26197 non-null  float64
 13  NET WEIGHT UNIT        26197 non-null  object
 14  GROSS WEIGHT           26197 non-null  float64
 15  GROSS WEIGHT UNIT      26197 non-null  object
 16  QUANTITY               26197 non-null  float64
 17  QUANTITY UNIT          26197 non-null  object
 18  PRODUCT DETAILS        26197 non-null  object
 19  NUMBER OF PACKAGES     26197 non-null  int64
 20  PACKAGES UNIT          26197 non-null  object
 21  PLACE OF DELIVERY      2 non-null      object
 22  BRAND NAME             0 non-null      object
 23  MANUFACTORING COMPANY  0 non-null      object
 24  PORT OF ARRIVAL        26197 non-null  object
 25  PORT OF DEPARTURE      26197 non-null  object
 26  NOTIFY ADDRESS         2 non-null      object
 27  Year                   26197 non-null  int64
 28  Month                  26197 non-null  int64
 29  Day                    26197 non-null  int64
 30  TOTAL IMPORT           26197 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(6), object(18)
memory usage: 6.4+ MB

In [233]:
df.drop(['PLACE OF DELIVERY','MANUFACTORING COMPANY','NOTIFY ADDRESS' ,'BRAND NAME'],axis = 1 ,inplace = True)

In [234]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26197 entries, 0 to 8698
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NO                   26197 non-null  int64
 1   ARRIVAL DATE         26197 non-null  datetime64[ns]
 2   HS CODE              26197 non-null  int64
 3   HS CODE DESCRIPTION  26197 non-null  object
 4   IMPORTER NAME        26197 non-null  object
 5   IMPORTER COUNTRY     26197 non-null  object
 6   CITY STATE           26197 non-null  object
 7   EXPORTER NAME        26197 non-null  object
 8   COUNTRY OF ORIGIN    26197 non-null  object
 9   IMPORT VALUE FOB     26197 non-null  float64
 10  IMPORT VALUE CIF     26197 non-null  float64
 11  CURRENCY             26197 non-null  object
 12  NET WEIGHT           26197 non-null  float64
 13  NET WEIGHT UNIT      26197 non-null  object
 14  GROSS WEIGHT         26197 non-null  float64
 15  GROSS WEIGHT UNIT    26197 non-null  object
 16  QUANTITY             26197 non-null  float64
 17  QUANTITY UNIT        26197 non-null  object
 18  PRODUCT DETAILS      26197 non-null  object
 19  NUMBER OF PACKAGES   26197 non-null  int64
 20  PACKAGES UNIT        26197 non-null  object
 21  PORT OF ARRIVAL      26197 non-null  object
 22  PORT OF DEPARTURE    26197 non-null  object
 23  Year                 26197 non-null  int64
 24  Month                26197 non-null  int64
 25  Day                  26197 non-null  int64
 26  TOTAL IMPORT         26197 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(6), object(14)
memory usage: 5.6+ MB

In [235]:
df.head()

,NO,ARRIVAL DATE,HS CODE,HS CODE DESCRIPTION,IMPORTER NAME,IMPORTER COUNTRY,CITY STATE,EXPORTER NAME,COUNTRY OF ORIGIN,IMPORT VALUE FOB,...,QUANTITY UNIT,PRODUCT DETAILS,NUMBER OF PACKAGES,PACKAGES UNIT,PORT OF ARRIVAL,PORT OF DEPARTURE,Year,Month,Day,TOTAL IMPORT
0,1,2019-01-30,10063020,Basmati Rice,NATRAJ FOOD STUFF FACTORY,United Arab Emirates,United Arab Emirates,"GREEN VILLAGE AGROS PVT.LTD.,",India,58262.4,...,TONS,"INDIAN ORIGIN 1121 STEAM BASMATI RICE, P",0,Undefined,Jebel Ali,MUNDRA SEA (INMUN1),2019,1,30,4.611467e+10
1,2,2019-01-30,10063020,Basmati Rice,KV A GENERAL TRADING LLC.,United Arab Emirates,United Arab Emirates,FAUJI EXIM PRIVATE LIMITED,India,7245.0,...,TONS,"1121 RAW BASMATI RICE SORTEX, CROP 2016,",0,Undefined,Jebel Ali,MUNDRA SEA (INMUN1),2019,1,30,4.611462e+10
2,3,2019-01-30,10063010,"Rice, parboiled",NIRAPARA MIDDLEEAST GENERALTRAD LLC.,United Arab Emirates,United Arab Emirates,K K R AGRO MILLS PRIVATE LIMITED,India,9280.3,...,KGS,2 KG JEERAKASALA RICE,0,Undefined,Jebel Ali,COCHIN SEA (INCOK1),2019,1,30,4.611462e+10
3,4,2019-01-30,10063010,"Rice, parboiled",MATSYA OVER SEASLTD.,United Arab Emirates,United Arab Emirates,VISHNU ENTERPRISES,India,11518.0,...,KGS,NON BASMATHI RICE (THANJAVOOR KURUVA RIC,0,Undefined,Jebel Ali,TUTICORIN SEA (INTUT1),2019,1,30,4.611462e+10
4,5,2019-01-30,10063090,Rice Excptg Parboiled (Excl Basmati Rice),SARAVANA FOOD STUFF FACTORY LLC.,United Arab Emirates,United Arab Emirates,LAKSHMI EXPORT AND IMPORT,India,73788.0,...,KGS,PONNI SAMBA RICE (NON BASMATI RICE) 156,0,Undefined,Jebel Ali,TUTICORIN SEA (INTUT1),2019,1,30,4.611468e+10

In [236]:
df.drop(['NO'],axis = 1,inplace = True)

In [237]:
df.to_csv("Cleaned_Data")